
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="encabezado">
            <h1>Constrol consumidor</h1>
        </header>
        
        <footer th:fragment="piepagina">
            <p>Creado por EPG-UNAP <a href="https://posgradounap.edu.pe/" target="_blank">Escuela de posgrado UNAP</a></p>
        </footer>
        <div>TODO write content</div>
    </body>
</html>
